@model WebApplication1.Models.Product

@{
    ViewBag.Title = "addProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Product</h2>

@using (Html.BeginForm("SaveProduct", "Products"))
{

    <div class="form-group">

        @Html.LabelFor(m => m.ProductName)
        @Html.TextAreaFor(m => m.ProductName, new { @class = "form-control" })

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Price)
        @Html.TextAreaFor(m => m.Price, new { @class = "form-control" })

  </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })

    </div>

  @Html.HiddenFor(m => m.ProductID)
    <button type="submit" class="btn btn-primary">Save</button>

}
      
